h3.heading {
    color: #fff;
    background: #2574a9;
    padding: 10px 15px;
}

.documents_page {
    background: #cdcdcd;
    padding: 15px;
}
table, th, td {
	border-top: 1px solid rgb(212, 212, 212);
	border: 1px solid rgb(212, 212, 212);
	text-align: center;
	padding: 10px;
}
td {
		padding:8px;
		/*white-space: nowrap;*/
}

td.fileup_load div {
    max-width: 100%;
    overflow-wrap: break-word;
}

.delete_uplooad {
    width: 260px;
    text-align: center;
    margin: 0 auto;
}

.spacing_proper {
    justify-content: flex-end;
    align-items: flex-end;
}
.spacing_proper .slds-col  {
    flex: 0 0 auto;
}

@media (max-width:350px) {
    .document_btn {
        padding-right: 0;
    }
    .document_btn lightning-combobox.input.slds-form-element {
        width: 85%;
        float: right;
    }
}

@media (min-width:200px) and (max-width:767px) {
	.delete_uplooad {
		width: 175px;
	}	
    .document_btn {
        padding-right: 0;
    }
}

@media (min-width:768px) and (max-width:1241px) {
.delete_uplooad {
    width: 260px;
}
}
.action-div {
    display: inline-flex;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .responsive_table table {
       border: 0;
     }
   
    .responsive_table table thead {
       border: none;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
     }
   }

@media screen and (max-width: 890px) {
	
    .slds-hint-parent {
       border-bottom: 3px solid #ddd;
       display: flex;
       margin-top: 1em;
       flex-direction: column;
    }
    
    .slds-hint-parent td {
       border-bottom: none;
       display: block;
       padding: 12px 10px;
       min-height: 48px;
       order: 2;
       width: 100% !important;
       text-align: right;
    }
    
    .slds-hint-parent td::before {
       content: attr(data-label);
       float: left;
       font-weight: 700;
       font-size: 13px;
       margin-bottom: 5px;
       text-align: left;
    }
    
   .slds-hint-parent td:last-child::before {padding-top: 11px;}
    .slds-hint-parent td:last-child {
      text-align: right;
      display: block;
      order: 1;
    }
  }

  @media (min-width: 510px) and (max-width: 890px) {
   .slds-hint-parent td {
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: baseline;
   }
   .slds-hint-parent td::before,
.slds-hint-parent td>*{flex: 1 0 0%;}

}

@media screen and (max-width: 467px) {
    .add-document{padding-top: 0px !important; margin-bottom: 24px; margin-left: 1rem; }
    .add-document button{margin-top: 0px; }
}