h1{
    font-size: 2em;
}
h3{
    font-size:1.3rem;
}

.set-password a:link { 
    text-decoration: none; 
    color: black; 
}

.slds-button{
    border-radius:20px;
    width:100%;
}
.full-height{
    height:100%;
}
.container{
    border-radius:10px;
    background-color:#003466;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
}
.slds-input{
    border-color:red !important;
}
.sidebar{
    background:white;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.sub-logo{
    width:100%;
}