/**
 * Created by ricky on 08-09-2021.
 */
.slds-card__header {
    background: #2574a9;
    padding: 10px;
    color: white;
    margin: -1px;
 }

 .selectedContractorFieldHeight {
    --sds-c-textarea-sizing-min-height: 115px;
 }