/**
 * Created by Pankaj on 2021-05-27.
 */
 .tableScroll {
    overflow: auto;
    overflow-y: hidden;
    height: 10rem;
}
.custom {
    width: 150px!important;
    text-align: left !important;
    padding-left: 10px !important;
    border-right: 1px solid #cdcdcd;
}
.slds-table .slds-radio [type=radio]+.slds-radio__label .slds-radio_faux {
    margin-right: 5px !important;
}
span.slds-form-element__label {
    padding-left: 7px !important;
}
.full-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}