:host {
    display: contents;
  }
  .table-row {
      background: rgba(20, 63, 116, 0.05);
  }
  .td {
      padding:8px !important;
  }
  .table-row td {
      border-top: 2px solid #375283;
  }
  .td-has-error {
      white-space: normal;
  }

  button.slds-button.slds-button_destructive {
    margin-top: 15px;
}
h2.slds-text-heading_small {
    background: #d7e7f8;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #d4d4d4;
    border-top-left-radius: 3px;
    border-bottom: 0;
    border-top-right-radius: 3px;
}
.fire_box {
    border: 1px solid #D4D4D4;
    border-radius: 3px;
}
.slds-col.approved .slds-size_6-of-12 {
    display: inline-block;
}
svg.slds-icon.slds-icon-text-default.slds-icon_small {
    width: 15px;
    height: auto;
}
.outputfont{
    font-weight: bold;
    font-size: medium;
}