.slds-wizard .slds-is-active .slds-wizard__marker{
    background: #3f51b5;
    z-index: 1000;
}
.slds-is-current .slds-wizard__marker{
    background: rgb(10, 245, 10) !important;
}
.slds-wizard__progress{
    z-index: 100;
}
.slds-wizard__progress-bar{
    background:#3f51b5;
}
.cursor{
    cursor: default;
}
ol{
    display:inline-flex;
    width:100%;
}