/**
 * Created by Pankaj on 03-04-2021.
 */

 lightning-helptext {
    margin: -5px 0px 0 0;
    float: left;
}
/*.slds-radio {
    display: flex !important;
    margin-right: 10px;
}*/
.customRadio .slds-form-element__control .slds-radio {
    display : inline-block !important;
}
span.slds-radio {
    float: left !important;
}
.slds-form-element__control .slds-radio, .slds-form-element__control .slds-checkbox {
    display: inline-block !important;
}
button.slds-button.slds-button_neutral {
    float: right;
}

.slds-table_cell-buffer tr>th:first-child, .slds-table_cell-buffer tr>td:first-child, .slds-table--cell-buffer tr>th:first-child, .slds-table--cell-buffer tr>td:first-child {
    padding-left: 0;
    text-align: left;
}

.slds-col.rightsub {
    position: absolute;
    right: 0;
    margin: 30px 0;
}

button.slds-button.slds-button_neutral {
    background: #0070d2;
    color: #fff;
}

.slds-modal__content {overflow: auto !important;}
.slds-table thead th {background-color: #e7f3fd;}

svg.slds-icon.slds-icon-text-default.slds-icon_small {
    width: 15px;
    height: auto;
}
.toppaddin-div{
    padding-top: 60px
}
.outputfont{
    font-weight: bold;
    font-size: medium;
}