h3{
    font-size:1.3rem;
}
.slds-button{
    border-radius:20px;
    width:100%;
}
.full-height{
    height:100%;
}
.container{
    border-radius:10px;
    background-color:white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.63);
}
.slds-input{
    border-color:red !important;
}