table, tr, th, td {
    border:1px solid #CCCCCC;
    border-collapse:collapse;
}
tr, td, th {
    padding:4px;
}
thead {
    background: #375283;
    color:white;
}

.slds-truncate{
    white-space:normal;
}
.slds-table_cell-buffer tr > th:last-child{
    padding:4px;
}
.slds-table_cell-buffer tr > th:first-child{
    padding-left:8px;
}
.slds-table_cell-buffer tr>td:first-child{
    padding-left:8px;
}
.slds-table th{
    text-align:center;
    background:#375283;
    color: #fff;
}
 th, td {
    text-align: center;
    padding:10px;
}
.slds-table{
    border:1px solid rgb(212,212,212);
}
.custom-label{
    font-weight: 400;
    color: #5a5959;
    font-size: .75rem;
}
hr{
    border-top: 2px solid #3f6e99;
    margin-top: 5px;
    margin-bottom: 20px;
}
.error{
    font-size : 13px;
    foreground-color: #ff0000;
    background-color: #ffffff;
    font-weight: normal;
}
.slds-textarea {
    height:100px !important;
}
table{
    border: 2px solid #CCCCCC;
}
.slds-table_resizable-cols thead th{
    padding:10px;
}
.emailText a {
    color:#006dcc;
}
.slds-form-element__label {
    font-weight:normal;
}
.helptext-div{
    display:flex;
}
.heading{
    font-size: 1.25rem;
    text-transform: uppercase;
}