:host {
    display: contents;
  }
  .table-row {
      background: rgba(20, 63, 116, 0.05);
  }
  .td {
      padding:8px !important;
  }
  .slds-table td {
      padding:0 !important;
  }
  .table-row td {
      border-top: 2px solid #375283;
  }
  .td-has-error {
      /*max-width: 250px;*/
      white-space: normal;
  }
  .text_center input {
        text-align: center !important;
 }
 .slds-input {
    text-align: center;
 }