/**
 * Created by StackNexus Admin on 20-01-2021.
 */
 .slds-card__header {
     background:#f3f2f2;
 }
 .slds-content-body{
     overflow: auto;
     max-height: 35vh;
 }
 table, th, td {
     border:1px solid #CCCCCC;
     border-collapse:collapse;
     padding:8px;
 }
 th {
     background:#fafaf9;
 }