/**
 * Created by Shivraj on 27-08-2020.
 */
:host {
  display: contents;
}
.table-row {
    background: rgba(20, 63, 116, 0.05);
}
.td {
    padding:8px !important;
}
.slds-table td {
    padding:0 !important;
}
.table-rows td {
    border-top: 2px solid #375283;
}
.td-has-error {
    /*max-width: 250px;*/
    white-space: normal;
}