hr {
    border-top: 3px solid #3f51b5;
    margin: 0;
}
.slds-card__header-title {
    font-size: 1.5rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 600;
}
.slds-card {
    position: relative;
    padding: 0;
    background: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    border:none;
}
.slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: #050505;
    font-size: 0.75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}
.slds-button_brand:hover{
    background-color:#143f74
}

.input{
    border-radius:25px;
    -moz-border-radius:25px; 
}

.slds_wrap{
    word-break: break-word;
    white-space: normal;
}
.contact-modal .slds-card__body_inner{
    margin:0;
}
.display-none{
    display:none;
}